body{
  background-color: rgb(231, 231, 231);
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}
.header {
  background-color: rgb(147, 67, 218);
  color: white;
  padding: 20px;
}

.pagina {
  padding: 10px;
  margin: 2px;  
}

.esqueci{
margin: 7.5px;
}

.esqueci2{
margin: 2px;
}

.box{
    align-content: center;
    width: 240px;
    height: 250px;
    border: 2px solid #333;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    margin: 0 auto;
}